# Test of Independence / Test of Association / Chi-Square Test

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

## Titanic

In [2]:
titanic = pd.read_csv('TitanicSurvival.csv')
titanic

FileNotFoundError: [Errno 2] No such file or directory: 'TitanicSurvival.csv'

In [3]:
pd.crosstab(titanic.gender, titanic.survived)

survived   no  yes
gender
female    127  339
male      682  161

In [4]:
df = pd.pivot_table(data = titanic,
               index = 'gender',
               columns ='survived',
               values = 'Name',
               aggfunc= 'count')

In [5]:
df

survived   no  yes
gender
female    127  339
male      682  161

In [7]:
chi2, pvalue, df, expfreq = chi2_contingency(df)

In [8]:
pvalue

4.589924936952945e-81

In [ ]:
# Reject NULL
# Variables are associated. Gender and Survived are associated.

In [9]:
df = pd.pivot_table(data = titanic,
               index = 'gender',
               columns =['survived','passengerClass'],
               values = 'Name',
               aggfunc= 'count')

In [10]:
df

survived         no            yes
passengerClass  1st  2nd  3rd  1st 2nd  3rd
gender
female            5   12  110  139  94  106
male            118  146  418   61  25   75

In [11]:
chi2_contingency(df)

(397.2343394203484,
 1.1703719501263788e-83,
 5,
 array([[ 43.78762414,  56.24751719, 187.96638655,  71.19938885,
          42.36363636,  64.43544691],
        [ 79.21237586, 101.75248281, 340.03361345, 128.80061115,
          76.63636364, 116.56455309]]))

In [12]:
chi2, pvalue, df, expfreq = chi2_contingency(df)

In [13]:
pvalue

1.1703719501263788e-83

In [14]:
# Reject NULL
# Variables are associated

## Ice cream

In [3]:
icecream = pd.read_csv('M5_T3_V2_Ice_cream.csv')
icecream

     Gender      Flavor
0      Male   Chocolate
1    Female     Vanilla
2      Male  Strawberry
3      Male  Strawberry
4      Male     Vanilla
..      ...         ...
195  Female     Vanilla
196  Female     Vanilla
197  Female     Vanilla
198  Female     Vanilla
199  Female  Strawberry

[200 rows x 2 columns]

In [4]:
df = pd.crosstab(icecream.Gender, icecream.Flavor)

In [5]:
df

Flavor  Chocolate  Strawberry  Vanilla
Gender
Female         32          29       48
Male           15          29       47

In [6]:
chi2, pvalue, df, expfreq = chi2_contingency(df)

In [9]:
pvalue,chi2

(0.10144219001975929, 4.57653239842952)

In [8]:
# Not enough proof to reject NULL
# Variables are not associated

In [21]:
# The End!